<h2>Dashboards</h2>
{{>_navbardashboards}}
<hr>
<p>Selecione um dashboard acima para visualizar</p>
{{#ifAdmin user.typ_user}}
<div class="container mt-4">
    <div class="row">
        {{#each dashboards}}
        <div class="col-4" style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>                    
                    <div class="row mt-2">                        
                        <div class="col-4">
                            <form action="/admin/dashboard/delete/" method="POST">
                                <input type="hidden" name="id" value="{{id_dashboard}}">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Tem certeza que deseja excluir esse dasboard?');">Deletar
                                    </button>
                            </form>
                        </div>
                        <div class="col-4"><a href="/admin/dashboard/edit/{{id_dashboard}}"><button class="btn btn-warning">Editar
                            </button></a></div>
                        <div class="col-4"><a href="/admin/dashboard/view/{{id_dashboard}}"><button class="btn btn-info">Acessar
                            </button></a></div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <p>Nenhum dashboard postado</p>
        {{/each}}
    </div>
</div>
{{/ifAdmin}}