{{#each errors}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h2>Editando dashboard</h2>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="/admin/dashboard/edit" method="POST">
                    <input type="hidden" name="id_dashboard" id="id_dashboard" value="{{dashboard.id_dashboard}}">
                    <label for="title">Título:</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{dashboard.title}}"
                        required>

                    <label for="description">Descrição:</label>
                    <input class="form-control" type="text" id="description" name="description"
                        value="{{dashboard.title}}">

                    <label for="des_status">Status:</label>
                    <input class="form-control" type="text" id="des_status" name="des_status"
                        value="{{dashboard.des_status}}" required>

                    <label for="dat_expiration">Data de Expiração:</label>
                    <input class="form-control" type="date" id="dat_expiration" name="dat_expiration"
                        value="{{dashboard.dat_expiration}}">

                    <!-- 
                    <label for="customer">Cliente:</label>
                    <select class="form-control" id="customer" name="customer" required>
                        <option value="0">Selecione um cliente</option>
                        {{#each customers}}
                        <option value="{{id_customer}}">{{name_customer}}</option>
                        {{/each}}
                    </select>

                    
                    <label for="project">Projeto:</label>
                    <select class="form-control" id="project" name="project" required>
                        <option value="0">Selecione um projeto</option>
                    </select>

                    
 -->


                    <h4>URLs do Dashboard</h4>
                    <div id="urlFields">

                        <ul id="urls-list">
                            {{#each urlDashboards}}
                            <li>
                                <label for="url_dashboard">URL:</label>
                                <input class="form-control" type="text" name="dashboardUrls[][url_dashboard]"
                                    value="{{url_dashboard}}" required>

                                <label for="typ_screen">Tipo de Tela:</label>
                                <input class="form-control" type="text" name="dashboardUrls[][typ_screen]"
                                    value="{{typ_screen}}" required>

                                <label for="typ_plataform_dashboard">Plataforma:</label>
                                <input class="form-control" type="text" name="dashboardUrls[][typ_plataform_dashboard]"
                                    value="{{typ_plataform_dashboard}}" required>

                                <label for="typ_database">Banco de Dados:</label>
                                <input class="form-control" type="text" name="dashboardUrls[][typ_database]"
                                    value="{{typ_database}}">
                                <button type="button" class="btn btn-secondary remove-url">Remover</button>
                            </li>
                            {{/each}}
                        </ul>


                    </div>
                    <button class="btn btn-primary" type="button" id="addUrlField">Adicionar URL</button>

                    <button class="btn btn-primary" type="submit">Salvar Dashboard e URLs</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>




<script>

document.addEventListener("DOMContentLoaded", function () {
    const addUrlButton = document.getElementById("addUrlField");
    const urlsList = document.getElementById("urls-list");

    addUrlButton.addEventListener("click", function () {
        const newUrlInput = document.createElement("li");
        newUrlInput.innerHTML = `
            <label for="url_dashboard">URL:</label>
        <input class="form-control" type="text" name="dashboardUrls[][url_dashboard]" required>
        
        <label for="typ_screen">Tipo de Tela:</label>
        <input class="form-control" type="text" name="dashboardUrls[][typ_screen]" required> 
                
        <label for="typ_plataform_dashboard">Plataforma:</label>
        <input class="form-control" type="text" name="dashboardUrls[][typ_plataform_dashboard]" required>
        
        <label for="typ_database">Banco de Dados:</label>
        <input class="form-control" type="text" name="dashboardUrls[][typ_database]">
        <hr>
            <button type="button" class="btn btn-secondary remove-url">Remover</button>
        `;

        urlsList.appendChild(newUrlInput);
    });

    urlsList.addEventListener("click", function (e) {
        if (e.target.classList.contains("remove-url")) {
            e.target.parentElement.remove();
        }
    });
});
</script>