<a href="/admin/dashboards"><span> Voltar</span></a>
<h2>{{dashboard.title}}</h2>
<p>{{dashboard.description}}</p>
<br>
<div class="row mt-2">
    <div class="col-6">
        <a href="/admin/dashboards/edit/{{dashboard.id_dashboard}}">
            <div class="btn btn-success">Editar dashboard</div>
        </a>
    </div>
    <div class="col-6">
        <form action="/admin/dashboards/delete" method="POST">
            <input type="hidden" name="id" value="{{dashboard.id_dashboard}}">
            <button type="submit" class="btn btn-danger">Deletar Dashboard</button>
        </form>
    </div>
</div>
<hr>
{{#each url_dashboard}}
<iframe title="dashboards" width="100%" height="541.25" src="{{url_dashboard}}"
    frameborder="0" allowFullScreen="true"></iframe><br>
    {{else }}
    <div><p>Nenhum detalhe de dashboard cadastrado</p></div>
    {{/each}}

<small>Data Criação: {{dashboard.createdAt}}</small>
<br>