<h2 class="title-home">Home</h2>

<div class="row">
    <div class="col-5">
        <div class="col-home">
            <div class="row">
                <div class="col-6 text-start">
                    <h3>Salvos <svg width="16" height="5" viewBox="0 0 16 5" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="5" fill="#0DFFBA" />
                        </svg></h3>
                </div>
                <div class="col-6 text-end">
                    <a href="#"><button class="btn btn-more">Ver mais</button></a>
                </div>
            </div>
            {{#each projects}}
            {{#if (lt @index 5)}}

            <div class="row" data-content-id="{{id_project}}">
                <div class="col-3 align-self-center">
                    <img src="{{#if des_project_image_desktop}} /uploads/projects/{{des_project_image_desktop}} {{else}} /img/img-square-default.jpg {{/if}}"
                        width="100%">
                </div>
                <div class="col-7">
                    <h4 class="name-project d-inline">{{nam_project}}</h4> &nbsp; <span class="favorite-toggle d-inline"
                        onclick="toggleFavorite({{id_project}})">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star-fill"></i>
                    </span>
                    <p class="name-customer">{{customer.name_customer}}</p>
                    <span class="status-project mt-1">{{des_status}}</span>
                </div>
                <div class="col-2">
                    <a href="/projects/view/{{id_project}}"
                        style="text-decoration: none !important;color:inherit !important">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                            <path d="M21 14L31 24L21 34" stroke="#C6C6C6" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg></a>
                </div>
            </div>
            <br>
            {{/if}}

            {{else}}
            <h5>Nenhum projeto para ser exibido</h5>
            {{/each}}
        </div>
    </div>

    <div class="col-7">
        <div class="col-home">
            <div class="row">
                <div class="col-6 text-start">
                    <h3><svg width="5" height="17" viewBox="0 0 5 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="16.5" width="16" height="5" transform="rotate(-90 0 16.5)" fill="#F90196" />
                        </svg>Vistos recentemente</h3>
                </div>
                <div class="col-6 text-end">
                    <a href="#"><button class="btn btn-more">Ver todos</button></a>
                </div>
            </div>
            <div class="row">
                {{#each projects}}
                {{#if (lt @index 4)}}
                <div class="col-6">
                    <a href="/projects/view/{{id_project}}"
                        style="text-decoration: none !important;color:inherit !important">
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <img src="{{#if des_project_image_desktop}} /uploads/projects/{{des_project_image_desktop}} {{else}} /img/img-square-default.jpg {{/if}}"
                                    width="100%">

                            </div>
                            <div class="col-6">
                                <h4 class="name-project">{{nam_project}}</h4>
                                <p class="name-customer">{{customer.name_customer}}</p>
                                <span class="status-project mt-1">{{des_status}}</span>
                            </div>
                            <div class="col-2 text-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path d="M21 14L31 24L21 34" stroke="#C6C6C6" stroke-width="4"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
                {{/if}}

                {{else}}
                <h5>Nenhum projeto para ser exibido</h5>
                {{/each}}
            </div>
            <br>
            <div class="row">
                <div class="col-6 text-start">
                    <h3><svg width="17" height="5" viewBox="0 0 17 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" width="16" height="5" fill="#0DFFBA" />
                        </svg>
                        Projetos</h3>
                </div>
                <div class="col-6 text-end">
                    <a href="#"><button class="btn btn-more">Ver todos</button></a>
                </div>
                <div class="col-12">
                    <div id="projectCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#each projects}}
                            {{#if @first}}
                            <div class="carousel-item active">
                                <div class="row">
                                    {{/if}}
                                    {{#if (and (eq (mod @index 3) 0) (gte @index 1))}}
                                    <div class="carousel-item">
                                        <div class="row">
                                            {{/if}}
                                            <div class="col-4 mt-4">
                                                <div class="card" style="height: 100%;">
                                                    <div class="card-body text-center">
                                                        <a href="/projects/view/{{id_project}}"
                                                            style="text-decoration: none !important;">
                                                            <p><b class="card-title">{{nam_project}}</b></p>
                                                            <img src="{{#if des_project_image_desktop}} /uploads/projects/{{des_project_image_desktop}} {{else}} /img/img-default.jpg {{/if}}"
                                                                class="card-img-top">
                                                        </a>
                                                        <div class="row mt-4">
                                                            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="26" height="26" viewBox="0 0 26 26"
                                                                    fill="none" data-bs-toggle="tooltip"
                                                                    data-bs-html="true" data-placement="bottom"
                                                                    data-bs-custom-class="project-info-tooltip"
                                                                    data-bs-title="<div class='title-tooltip-info mt-2'><span><img src='/img/info.svg' width='16px'> {{nam_project}}</span></div><p class='tooltip-objective mt-2'>{{#if objective_project}} {{objective_project}} {{else}} Nenhum objetivo do projeto inserido {{/if}}</p>">
                                                                    <path
                                                                        d="M13.5535 11.7737C13.5285 11.6354 13.4525 11.5115 13.3407 11.4264C13.2288 11.3412 13.0892 11.3011 12.9492 11.3138C12.8092 11.3265 12.679 11.3911 12.5843 11.495C12.4896 11.5989 12.4372 11.7344 12.4375 11.875V16.9397L12.4465 17.041C12.4715 17.1793 12.5475 17.3032 12.6593 17.3884C12.7712 17.4735 12.9108 17.5137 13.0508 17.501C13.1908 17.4883 13.321 17.4236 13.4157 17.3198C13.5104 17.2159 13.5628 17.0803 13.5625 16.9397V11.875L13.5535 11.7737ZM13.8989 9.34375C13.8989 9.11997 13.81 8.90536 13.6517 8.74713C13.4935 8.58889 13.2789 8.5 13.0551 8.5C12.8313 8.5 12.6167 8.58889 12.4585 8.74713C12.3003 8.90536 12.2114 9.11997 12.2114 9.34375C12.2114 9.56753 12.3003 9.78214 12.4585 9.94037C12.6167 10.0986 12.8313 10.1875 13.0551 10.1875C13.2789 10.1875 13.4935 10.0986 13.6517 9.94037C13.81 9.78214 13.8989 9.56753 13.8989 9.34375ZM22 13C22 10.6131 21.0518 8.32387 19.364 6.63604C17.6761 4.94821 15.3869 4 13 4C10.6131 4 8.32387 4.94821 6.63604 6.63604C4.94821 8.32387 4 10.6131 4 13C4 15.3869 4.94821 17.6761 6.63604 19.364C8.32387 21.0518 10.6131 22 13 22C15.3869 22 17.6761 21.0518 19.364 19.364C21.0518 17.6761 22 15.3869 22 13ZM5.125 13C5.125 11.9658 5.32869 10.9418 5.72445 9.98637C6.1202 9.03093 6.70027 8.1628 7.43153 7.43153C8.1628 6.70027 9.03093 6.1202 9.98637 5.72445C10.9418 5.32869 11.9658 5.125 13 5.125C14.0342 5.125 15.0582 5.32869 16.0136 5.72445C16.9691 6.1202 17.8372 6.70027 18.5685 7.43153C19.2997 8.1628 19.8798 9.03093 20.2756 9.98637C20.6713 10.9418 20.875 11.9658 20.875 13C20.875 15.0886 20.0453 17.0916 18.5685 18.5685C17.0916 20.0453 15.0886 20.875 13 20.875C10.9114 20.875 8.90838 20.0453 7.43153 18.5685C5.95468 17.0916 5.125 15.0886 5.125 13Z"
                                                                        fill="#C6C6C6" />
                                                                </svg></div>
                                                            <div class="col-6">
                                                                <img src="/uploads/logos/{{customer.logotipo_customer}}"
                                                                    alt="{{customer.name_customer}}" width="56px">
                                                            </div>
                                                            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="26" height="26" viewBox="0 0 26 26"
                                                                    fill="none" style="cursor: pointer;">
                                                                    <path
                                                                        d="M13 5.28125C13.6731 5.28125 14.2188 4.7356 14.2188 4.0625C14.2188 3.3894 13.6731 2.84375 13 2.84375C12.3269 2.84375 11.7812 3.3894 11.7812 4.0625C11.7812 4.7356 12.3269 5.28125 13 5.28125Z"
                                                                        fill="#C6C6C6" stroke="#C6C6C6"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                    <path
                                                                        d="M13 14.2188C13.6731 14.2188 14.2188 13.6731 14.2188 13C14.2188 12.3269 13.6731 11.7812 13 11.7812C12.3269 11.7812 11.7812 12.3269 11.7812 13C11.7812 13.6731 12.3269 14.2188 13 14.2188Z"
                                                                        fill="#C6C6C6" stroke="#C6C6C6"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                    <path
                                                                        d="M13 23.1562C13.6731 23.1562 14.2188 22.6106 14.2188 21.9375C14.2188 21.2644 13.6731 20.7188 13 20.7188C12.3269 20.7188 11.7812 21.2644 11.7812 21.9375C11.7812 22.6106 12.3269 23.1562 13 23.1562Z"
                                                                        fill="#C6C6C6" stroke="#C6C6C6"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{#if (and (eq (mod (add @index 1) 3) 0) (gte @index 1))}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if (and (gte (mod (add @index 1) 3) 1) @last)}}
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel"
                            data-bs-slide="prev">
                            <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="48"
                                    viewBox="0 0 41 48" fill="none">
                                    <path d="M27 34L17 24L27 14" stroke="#C6C6C6" stroke-width="4"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel"
                            data-bs-slide="next">
                            <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="48"
                                    viewBox="0 0 42 48" fill="none">
                                    <path d="M18 14L28 24L18 34" stroke="#C6C6C6" stroke-width="4"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- buttons carousel -->
                </div>


            </div>
        </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    });

    // Função para alternar favorito
    function toggleFavorite(contentId) {
        const favoriteToggle = document.querySelector(`[data-content-id="${contentId}"] .favorite-toggle`);
        const isFavorited = favoriteToggle.classList.contains('favorited');


        // Simule a troca de ícones (estrela vazia <-> estrela preenchida)
        favoriteToggle.classList.toggle('favorited');

        // Chama a função apropriada com base no estado atual
        if (isFavorited) {
            removeFromFavorites(contentId);
        } else {
            addToFavorites(contentId);
        }
    }

    // Adicionar conteúdo aos favoritos
    function addToFavorites(contentId) {
        fetch('/users/favorites', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id_project: contentId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Adicionado aos favoritos:', data);
                // Atualize a interface do usuário conforme necessário
            })
            .catch(error => console.log('Erro ao adicionar aos favoritos: ' + error));
    }

    // Remover conteúdo dos favoritos
    function removeFromFavorites(contentId) {
        fetch('/users/favorites', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id_project: contentId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Removido dos favoritos:', data);
                // Atualize a interface do usuário conforme necessário
            })
            .catch(error => console.log('Erro ao remover dos favoritos: ' + error));
    }
</script>