<h2>Home</h2>


{{#each projects}}
<div class="col-6">
    <div class="card mt-4">        
            <div class="card-body">
                <h5>{{nam_project}}</h5>
                
                <span>Expira em: {{dat_expiration}}</span>
                <br>            

                <a href="/admin/customer/{{id_customer}}">Acessar ></a>
                <br>
                <a href="/admin/dashboard/customer/{{id_customer}}">Adicionar Dashboard ></a>
     
            </div>
    </div>             
</div>
{{else}}
<h5>Nenhum projeto para ser exibido</h5>
{{/each}}
