{{#each errors}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2 class="title-page"><span style="color: var(--just-colors-006, #F90196);">+</span> Add Projeto</h2>
<p class="breadcrumb"><a href="/" style="text-decoration: none !important; color:inherit">Home</a> <span
        style="color:#F90196">&nbsp;/&nbsp;</span> Novo projeto</p>
<div class="container container-addproject">
    <form action="/projects/new" method="POST" enctype="multipart/form-data" id="form-project">
        <div class="row">

            <div class="col-4">
                <div class="custom-file" id="select-image-desktop">
                    <span>Thumb Desktop</span>
                    <div class="image-preview-desktop" id="image-preview-desktop" style="display: none;">
                        <img class="preview-thumb" src="" id="preview-thumb-desk">
                    </div>
                    <div class="upload-area text-center" id="step-1-desktop">
                        <span>Envio de imagem</span>
                    </div>
                    <input type="file" id="des_project_image_desktop" name="des_project_image_desktop" accept="image/*"
                        hidden>
                </div>

                <div class="custom-file mt-4" id="select-image-mobile">
                    <span>Thumb Mobile</span>
                    <div class="image-preview-mobile" id="image-preview-mobile" style="display: none;">
                        <img class="preview-thumb" src="" id="preview-thumb-mobile">
                    </div>
                    <div class="upload-area text-center" id="step-1-mobile">
                        <span>Envio de imagem</span>
                    </div>
                    <input type="file" id="des_project_image_mobile" name="des_project_image_mobile" accept="image/*"
                        style="display: none;">
                </div>

                <div class="custom-file mt-4" id="select-image-logo">
                    <span>Logotipo personalizado para header</span>
                    <div class="image-preview-logo" id="image-preview-logo" style="display: none;">
                        <img class="preview-thumb" src="" id="preview-thumb-logo">
                    </div>
                    <div class="upload-area text-center" id="step-1-logo">
                        <span>Envio de imagem</span>
                        <input type="file" id="des_project_image_logo" name="des_project_image_logo" accept="image/*"
                            style="display: none;">
                    </div>

                </div>
            </div>
            <br>
            <div class="col-4">
                <label for="name">Nome do projeto*:</label>
                <input type="text" id="nam_project" name="nam_project" placeholder="Nome do projeto"
                    class="form-control" required>
                <label for="owner" class="mt-4">Owner:</label>
                <select class="form-select form-control" aria-label="Owner" id="owner" name="owner" 
                    required disabled>
                    <option value="{{user.id_user}}">{{user.name_user}}</option>
                </select>
                <label for="objective" class="mt-4">Objetivo do projeto:</label>
                <textarea rows="4" cols="50" id="objective" name="objective_project" class="form-control"
                    required></textarea>
                <label for="customer" class="mt-4">Selecionar cliente*:</label>
                <select class="form-select form-control" aria-label="Selecionar Cliente" id="customer" name="customer"
                    class="form-control" required>
                    <option selected>Selecionar</option>
                    {{#each customers}}
                    <option value={{id_customer}}>{{name_customer}}</option>
                    {{else}}
                    {{/each}}
                </select>
                <label for="" class="mt-4">Personalização cores do cliente</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="custom_color_y" name="project_custom_colors"
                        value="true">
                    <label class="form-check-label" for="custom_color_y">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="custom_color_n" name="project_custom_colors"
                        value="false" checked>
                    <label class="form-check-label" for="custom_color_n">Não</label>
                </div>
            </div>
            <br>
            <div class="col-4">
                <label for="dat_expiration">Data expiração:</label>
                <input type="date" name="dat_expiration" id="dat_expiration" class="form-control">
                <label for="status" class="mt-4">Status:</label>
                <select class="form-select form-control" aria-label="Status" id="des_status" name="des_status"
                    class="form-control" required>
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="desenvolvimento">Em desenvolvimento</option>
                    <option value="homolog interna">Homologação interna</option>
                    <option value="homolog externa">Homologação externa</option>
                    <option value="publicado">Publicado</option>
                    <option value="desabilitado">Desabilitado</option>
                    <option value="expirado">Expirado</option>
                    <option value="ativo">Ativo</option>
                    <option value="inativo">Inativo</option>
                </select>
                <label for="des_autoplay_timing" class="mt-4">Autplay Timing:</label>
                <select class="form-select form-control" aria-label="des_autoplay_timing" id="des_autoplay_timing"
                    name="des_autoplay_timing" class="form-control">
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="10">10 Segundos</option>
                    <option value="20">20 Segundos</option>
                    <option value="30">30 Segundos</option>
                    <option value="40">40 Segundos</option>
                    <option value="50">50 Segundos</option>
                    <option value="60">60 Segundos</option>
                </select>

                <label for="des_title_color" class="mt-4">Cor personalizada para o título:</label>
                <input type="text" name="des_title_color" id="des_title_color" class="form-control"
                    placeholder="#FFFFFF" disabled>
                    
                <label for="des_bg_title_color" class="mt-4">Cor personalizada para o fundo do título:</label>
                <input type="text" name="des_bg_title_color" id="des_bg_title_color" class="form-control"
                    placeholder="#FFFFFF" disabled>
                    
                <div class="row mt-4">
                    <div class="col text-end">
                        <button type="submit" class="btn btn-confirm-form">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- modais -->
<div id="modal-upload-desktop" class="modal modal-upload">
    <div class="modal-content text-center">
        <div class="row align-items-center">
            <div class="col">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109" fill="none">
                        <g clip-path="url(#clip0_4503_12274)">
                            <path
                                d="M87.8812 45.5984C86.3557 37.8672 82.1933 30.9055 76.105 25.9023C70.0167 20.8992 62.3803 18.165 54.5 18.1667C41.3746 18.1667 29.975 25.6151 24.2979 36.5151C17.6227 37.2364 11.4496 40.3992 6.96459 45.3955C2.47962 50.3918 -0.000779812 56.8694 1.83905e-07 63.5834C1.83905e-07 78.6163 12.2171 90.8334 27.25 90.8334H86.2917C98.8267 90.8334 109 80.6601 109 68.1251C109 56.1351 99.6896 46.4159 87.8812 45.5984ZM63.5833 59.0417V77.2084H45.4167V59.0417H31.7917L54.5 36.3334L77.2083 59.0417H63.5833Z"
                                fill="#97CCBD" />
                        </g>
                        <defs>
                            <clipPath id="clip0_4503_12274">
                                <rect width="109" height="109" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <h2>Envio de imagens</h2>
                <div id="drop-area-desktop" class="upload-area">
                    <p>Arraste aqui para carregar ou <span style="color:#0478FF;cursor:pointer"><u>selecione os
                                arquivos</u></span></p>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-back-modal" id="cancel-button-desktop">Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-confirm-modal" id="upload-button-desktop">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-upload-mobile" class="modal modal-upload">
    <div class="modal-content text-center">
        <div class="row align-items-center">
            <div class="col">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109" fill="none">
                        <g clip-path="url(#clip0_4503_12274)">
                            <path
                                d="M87.8812 45.5984C86.3557 37.8672 82.1933 30.9055 76.105 25.9023C70.0167 20.8992 62.3803 18.165 54.5 18.1667C41.3746 18.1667 29.975 25.6151 24.2979 36.5151C17.6227 37.2364 11.4496 40.3992 6.96459 45.3955C2.47962 50.3918 -0.000779812 56.8694 1.83905e-07 63.5834C1.83905e-07 78.6163 12.2171 90.8334 27.25 90.8334H86.2917C98.8267 90.8334 109 80.6601 109 68.1251C109 56.1351 99.6896 46.4159 87.8812 45.5984ZM63.5833 59.0417V77.2084H45.4167V59.0417H31.7917L54.5 36.3334L77.2083 59.0417H63.5833Z"
                                fill="#97CCBD" />
                        </g>
                        <defs>
                            <clipPath id="clip0_4503_12274">
                                <rect width="109" height="109" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <h2>Envio de imagens</h2>
                <div id="drop-area-mobile" class="upload-area">
                    <p>Arraste aqui para carregar ou <span style="color:#0478FF;cursor:pointer"><u>selecione os
                                arquivos</u></span></p>
                </div>
                <div id="image-preview" style="display: none;">
                    <h3>Imagem Carregada:</h3>
                    <img id="preview" width="300">
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-back-modal" id="cancel-button-mobile">Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-confirm-modal" id="upload-button-mobile">Enviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-upload-logo" class="modal modal-upload">
    <!-- Conteúdo do modal para upload de imagem para Mobile -->
    <div class="modal-content text-center">
        <div class="row align-items-center">
            <div class="col">
                <div><svg xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109" fill="none">
                        <g clip-path="url(#clip0_4503_12274)">
                            <path
                                d="M87.8812 45.5984C86.3557 37.8672 82.1933 30.9055 76.105 25.9023C70.0167 20.8992 62.3803 18.165 54.5 18.1667C41.3746 18.1667 29.975 25.6151 24.2979 36.5151C17.6227 37.2364 11.4496 40.3992 6.96459 45.3955C2.47962 50.3918 -0.000779812 56.8694 1.83905e-07 63.5834C1.83905e-07 78.6163 12.2171 90.8334 27.25 90.8334H86.2917C98.8267 90.8334 109 80.6601 109 68.1251C109 56.1351 99.6896 46.4159 87.8812 45.5984ZM63.5833 59.0417V77.2084H45.4167V59.0417H31.7917L54.5 36.3334L77.2083 59.0417H63.5833Z"
                                fill="#97CCBD" />
                        </g>
                        <defs>
                            <clipPath id="clip0_4503_12274">
                                <rect width="109" height="109" fill="white" />
                            </clipPath>
                        </defs>
                    </svg></div>
                <h2>Envio de imagens</h2>
                <!-- Área de envio de imagens com suporte a arrastar e soltar -->
                <div id="drop-area-logo" class="upload-area">
                    <p>Arraste aqui para carregar ou <span style="color:#0478FF;cursor:pointer"><u>selecione os
                                arquivos</u></span></p>
                </div>
                <div id="image-preview" style="display: none;">
                    <h3>Imagem Carregada:</h3>
                    <img id="preview" width="300">
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-back-modal" id="cancel-button-logo">Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-confirm-modal" id="upload-button-logo">Enviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm-modal-desktop" class="modal modal-upload">
    <!-- Conteúdo do modal de confirmação para Desktop -->
    <div class="modal-content text-center modal-container">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="92" viewBox="0 0 100 92" fill="none">
                <path
                    d="M76.9231 80.5C76.9231 79.4618 76.5425 78.5634 75.7812 77.8047C75.02 77.046 74.1186 76.6667 73.0769 76.6667C72.0353 76.6667 71.1338 77.046 70.3726 77.8047C69.6114 78.5634 69.2308 79.4618 69.2308 80.5C69.2308 81.5382 69.6114 82.4366 70.3726 83.1953C71.1338 83.954 72.0353 84.3333 73.0769 84.3333C74.1186 84.3333 75.02 83.954 75.7812 83.1953C76.5425 82.4366 76.9231 81.5382 76.9231 80.5ZM92.3077 80.5C92.3077 79.4618 91.9271 78.5634 91.1659 77.8047C90.4046 77.046 89.5032 76.6667 88.4615 76.6667C87.4199 76.6667 86.5184 77.046 85.7572 77.8047C84.996 78.5634 84.6154 79.4618 84.6154 80.5C84.6154 81.5382 84.996 82.4366 85.7572 83.1953C86.5184 83.954 87.4199 84.3333 88.4615 84.3333C89.5032 84.3333 90.4046 83.954 91.1659 83.1953C91.9271 82.4366 92.3077 81.5382 92.3077 80.5ZM100 67.0833V86.25C100 87.8472 99.4391 89.2049 98.3173 90.3229C97.1955 91.441 95.8333 92 94.2308 92H5.76923C4.16667 92 2.80449 91.441 1.68269 90.3229C0.560897 89.2049 0 87.8472 0 86.25V67.0833C0 65.4861 0.560897 64.1285 1.68269 63.0104C2.80449 61.8924 4.16667 61.3333 5.76923 61.3333H33.7139L41.8269 69.4792C44.1506 71.7153 46.875 72.8333 50 72.8333C53.125 72.8333 55.8494 71.7153 58.1731 69.4792L66.3462 61.3333H94.2308C95.8333 61.3333 97.1955 61.8924 98.3173 63.0104C99.4391 64.1285 100 65.4861 100 67.0833ZM80.4688 33.0026C81.1498 34.6398 80.8694 36.0373 79.6274 37.1953L52.7043 64.0286C51.9832 64.7873 51.0817 65.1667 50 65.1667C48.9183 65.1667 48.0168 64.7873 47.2957 64.0286L20.3726 37.1953C19.1306 36.0373 18.8502 34.6398 19.5312 33.0026C20.2123 31.4453 21.3942 30.6667 23.0769 30.6667H38.4615V3.83333C38.4615 2.79514 38.8421 1.8967 39.6034 1.13802C40.3646 0.37934 41.266 0 42.3077 0H57.6923C58.734 0 59.6354 0.37934 60.3966 1.13802C61.1579 1.8967 61.5385 2.79514 61.5385 3.83333V30.6667H76.9231C78.6058 30.6667 79.7877 31.4453 80.4688 33.0026Z"
                    fill="#97CCBD" />
            </svg>
        </div>
        <div>
            <h2>Confirmar Envio</h2>
            <input id="uploaded-image-desktop" alt="Imagem carregada" disabled>
        </div>

        <br>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-back-modal" id="cancel-upload-desktop">Cancelar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-confirm-modal" id="confirm-upload-desktop">Enviar</button>
            </div>
        </div>

    </div>
</div>

<div id="confirm-modal-mobile" class="modal modal-upload">
    <!-- Conteúdo do modal de confirmação para Mobile -->
    <div class="modal-content text-center modal-container">

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="92" viewBox="0 0 100 92" fill="none">
                <path
                    d="M76.9231 80.5C76.9231 79.4618 76.5425 78.5634 75.7812 77.8047C75.02 77.046 74.1186 76.6667 73.0769 76.6667C72.0353 76.6667 71.1338 77.046 70.3726 77.8047C69.6114 78.5634 69.2308 79.4618 69.2308 80.5C69.2308 81.5382 69.6114 82.4366 70.3726 83.1953C71.1338 83.954 72.0353 84.3333 73.0769 84.3333C74.1186 84.3333 75.02 83.954 75.7812 83.1953C76.5425 82.4366 76.9231 81.5382 76.9231 80.5ZM92.3077 80.5C92.3077 79.4618 91.9271 78.5634 91.1659 77.8047C90.4046 77.046 89.5032 76.6667 88.4615 76.6667C87.4199 76.6667 86.5184 77.046 85.7572 77.8047C84.996 78.5634 84.6154 79.4618 84.6154 80.5C84.6154 81.5382 84.996 82.4366 85.7572 83.1953C86.5184 83.954 87.4199 84.3333 88.4615 84.3333C89.5032 84.3333 90.4046 83.954 91.1659 83.1953C91.9271 82.4366 92.3077 81.5382 92.3077 80.5ZM100 67.0833V86.25C100 87.8472 99.4391 89.2049 98.3173 90.3229C97.1955 91.441 95.8333 92 94.2308 92H5.76923C4.16667 92 2.80449 91.441 1.68269 90.3229C0.560897 89.2049 0 87.8472 0 86.25V67.0833C0 65.4861 0.560897 64.1285 1.68269 63.0104C2.80449 61.8924 4.16667 61.3333 5.76923 61.3333H33.7139L41.8269 69.4792C44.1506 71.7153 46.875 72.8333 50 72.8333C53.125 72.8333 55.8494 71.7153 58.1731 69.4792L66.3462 61.3333H94.2308C95.8333 61.3333 97.1955 61.8924 98.3173 63.0104C99.4391 64.1285 100 65.4861 100 67.0833ZM80.4688 33.0026C81.1498 34.6398 80.8694 36.0373 79.6274 37.1953L52.7043 64.0286C51.9832 64.7873 51.0817 65.1667 50 65.1667C48.9183 65.1667 48.0168 64.7873 47.2957 64.0286L20.3726 37.1953C19.1306 36.0373 18.8502 34.6398 19.5312 33.0026C20.2123 31.4453 21.3942 30.6667 23.0769 30.6667H38.4615V3.83333C38.4615 2.79514 38.8421 1.8967 39.6034 1.13802C40.3646 0.37934 41.266 0 42.3077 0H57.6923C58.734 0 59.6354 0.37934 60.3966 1.13802C61.1579 1.8967 61.5385 2.79514 61.5385 3.83333V30.6667H76.9231C78.6058 30.6667 79.7877 31.4453 80.4688 33.0026Z"
                    fill="#97CCBD" />
            </svg>
        </div>
        <div>
            <h2>Confirmar Envio</h2>
            <input id="uploaded-image-mobile" alt="Imagem carregada" disabled>
        </div>

        <br>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-back-modal" id="cancel-upload-mobile">Cancelar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-confirm-modal" id="confirm-upload-mobile">Enviar</button>
            </div>
        </div>

    </div>
</div>

<div id="confirm-modal-logo" class="modal modal-upload">
    <!-- Conteúdo do modal de confirmação para Logo -->
    <div class="modal-content text-center modal-container">

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="92" viewBox="0 0 100 92" fill="none">
                <path
                    d="M76.9231 80.5C76.9231 79.4618 76.5425 78.5634 75.7812 77.8047C75.02 77.046 74.1186 76.6667 73.0769 76.6667C72.0353 76.6667 71.1338 77.046 70.3726 77.8047C69.6114 78.5634 69.2308 79.4618 69.2308 80.5C69.2308 81.5382 69.6114 82.4366 70.3726 83.1953C71.1338 83.954 72.0353 84.3333 73.0769 84.3333C74.1186 84.3333 75.02 83.954 75.7812 83.1953C76.5425 82.4366 76.9231 81.5382 76.9231 80.5ZM92.3077 80.5C92.3077 79.4618 91.9271 78.5634 91.1659 77.8047C90.4046 77.046 89.5032 76.6667 88.4615 76.6667C87.4199 76.6667 86.5184 77.046 85.7572 77.8047C84.996 78.5634 84.6154 79.4618 84.6154 80.5C84.6154 81.5382 84.996 82.4366 85.7572 83.1953C86.5184 83.954 87.4199 84.3333 88.4615 84.3333C89.5032 84.3333 90.4046 83.954 91.1659 83.1953C91.9271 82.4366 92.3077 81.5382 92.3077 80.5ZM100 67.0833V86.25C100 87.8472 99.4391 89.2049 98.3173 90.3229C97.1955 91.441 95.8333 92 94.2308 92H5.76923C4.16667 92 2.80449 91.441 1.68269 90.3229C0.560897 89.2049 0 87.8472 0 86.25V67.0833C0 65.4861 0.560897 64.1285 1.68269 63.0104C2.80449 61.8924 4.16667 61.3333 5.76923 61.3333H33.7139L41.8269 69.4792C44.1506 71.7153 46.875 72.8333 50 72.8333C53.125 72.8333 55.8494 71.7153 58.1731 69.4792L66.3462 61.3333H94.2308C95.8333 61.3333 97.1955 61.8924 98.3173 63.0104C99.4391 64.1285 100 65.4861 100 67.0833ZM80.4688 33.0026C81.1498 34.6398 80.8694 36.0373 79.6274 37.1953L52.7043 64.0286C51.9832 64.7873 51.0817 65.1667 50 65.1667C48.9183 65.1667 48.0168 64.7873 47.2957 64.0286L20.3726 37.1953C19.1306 36.0373 18.8502 34.6398 19.5312 33.0026C20.2123 31.4453 21.3942 30.6667 23.0769 30.6667H38.4615V3.83333C38.4615 2.79514 38.8421 1.8967 39.6034 1.13802C40.3646 0.37934 41.266 0 42.3077 0H57.6923C58.734 0 59.6354 0.37934 60.3966 1.13802C61.1579 1.8967 61.5385 2.79514 61.5385 3.83333V30.6667H76.9231C78.6058 30.6667 79.7877 31.4453 80.4688 33.0026Z"
                    fill="#97CCBD" />
            </svg>
        </div>
        <div>
            <h2>Confirmar Envio</h2>
            <input id="uploaded-image-logo" alt="Imagem carregada" disabled>
        </div>

        <br>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-back-modal" id="cancel-upload-logo">Cancelar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-confirm-modal" id="confirm-upload-logo">Enviar</button>
            </div>
        </div>

    </div>
</div>

<div id="modal-ok" class="modal modal-upload">
    <div class="modal-content text-center">
        <div class="row align-items-center">
            <div class="col">
                <div><svg xmlns="http://www.w3.org/2000/svg" width="84" height="60" viewBox="0 0 84 60" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M81.7745 2.29587C82.9462 3.46791 83.6044 5.05734 83.6044 6.71462C83.6044 8.37189 82.9462 9.96132 81.7745 11.1334L34.9286 57.9792C34.3095 58.5984 33.5746 59.0896 32.7656 59.4247C31.9567 59.7599 31.0896 59.9324 30.214 59.9324C29.3384 59.9324 28.4714 59.7599 27.6625 59.4247C26.8535 59.0896 26.1185 58.5984 25.4995 57.9792L2.22446 34.7084C1.62752 34.1318 1.15138 33.4422 0.823824 32.6796C0.496268 31.9171 0.323854 31.097 0.316642 30.2671C0.309431 29.4373 0.467567 28.6143 0.781823 27.8462C1.09608 27.078 1.56016 26.3802 2.14699 25.7934C2.73382 25.2066 3.43164 24.7425 4.19974 24.4282C4.96785 24.114 5.79084 23.9558 6.62072 23.963C7.45059 23.9703 8.27071 24.1427 9.03324 24.4702C9.79576 24.7978 10.4854 25.2739 11.062 25.8709L30.212 45.0209L72.9328 2.29587C73.5132 1.71508 74.2024 1.25435 74.9609 0.940003C75.7195 0.625661 76.5325 0.463867 77.3536 0.463867C78.1747 0.463867 78.9878 0.625661 79.7463 0.940003C80.5049 1.25435 81.194 1.71508 81.7745 2.29587Z"
                            fill="#97CCBD" />
                    </svg></div>
                <h2>Tudo Certo!</h2>
                <!-- Área de envio de imagens com suporte a arrastar e soltar -->
                <p>Sua imagem foi adicionada ao projetos</p>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-confirm-modal" id="button-ok">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

