<h2>Página de projetos</h2>
<br>

<hr>

<h5>Selecione o projeto para visualizar</h5>
{{#each projects}}
<div class="col-6">
    <div class="card mt-4">        
            <div class="card-body">
                <h5>{{nam_project}}</h5>
                                
                <br> 
                <a href="/projects/project/delete/{{id_project}}"><button  class="btn btn-danger">Apagar Projeto</button></a>           
                <a href="/projects/project/edit/{{id_project}}"><button  class="btn btn-warning">Editar Projeto</button></a>
                <a href="/projects/view/{{id_project}}"><button  class="btn btn-primary">Acessar Projeto</button></a>
                <br>
     
            </div>
    </div>             
</div>
{{else}}
<h5>Nenhum projeto para ser exibido</h5>
{{/each}}

