<h2 class="title-page"><span style="color: var(--just-colors-006, #0DFFBA);">-</span> {{project.nam_project}} &nbsp;
    <span>
        <a href="/projects/project/edit/{{project.id_project}}" style="text-decoration: none !important;">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M1.5 19.5H22.5V21H1.5V19.5ZM19.05 6.75C19.65 6.15 19.65 5.25 19.05 4.65L16.35 1.95C15.75 1.35 14.85 1.35 14.25 1.95L3 13.2V18H7.8L19.05 6.75ZM15.3 3L18 5.7L15.75 7.95L13.05 5.25L15.3 3ZM4.5 16.5V13.8L12 6.3L14.7 9L7.2 16.5H4.5Z"
                        fill="#808080" />
                </svg>
            </span>
        </a>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                id="svg-delete-project" style="cursor: pointer;">
                <path
                    d="M20.5078 6H3.50781M18.8408 8.5L18.3808 15.4C18.2038 18.054 18.1158 19.381 17.2508 20.19C16.3858 21 15.0548 21 12.3948 21H11.6208C8.96081 21 7.62981 21 6.76481 20.19C5.89981 19.381 5.81081 18.054 5.63481 15.4L5.17481 8.5M9.50781 11L10.0078 16M14.5078 11L14.0078 16"
                    stroke="#808080" stroke-width="1.5" stroke-linecap="round" />
                <path
                    d="M6.50781 6H6.61781C7.02026 5.98972 7.41023 5.85822 7.73674 5.62271C8.06324 5.3872 8.31107 5.05864 8.44781 4.68L8.48181 4.577L8.57881 4.286C8.66181 4.037 8.70381 3.913 8.75881 3.807C8.86702 3.59939 9.02232 3.41999 9.21229 3.28316C9.40226 3.14633 9.62162 3.05586 9.85281 3.019C9.96981 3 10.1008 3 10.3628 3H13.6528C13.9148 3 14.0458 3 14.1628 3.019C14.394 3.05586 14.6134 3.14633 14.8033 3.28316C14.9933 3.41999 15.1486 3.59939 15.2568 3.807C15.3118 3.913 15.3538 4.037 15.4368 4.286L15.5338 4.577C15.6605 4.99827 15.9226 5.36601 16.2795 5.62326C16.6364 5.88051 17.0681 6.01293 17.5078 6"
                    stroke="#808080" stroke-width="1.5" />
            </svg>
            <form action="/projects/project/delete/" method="POST" style="display: none !important;">
                <input type="hidden" name="id" value="{{project.id_project}}">
                <button type="submit" id="btn-delete-project">
                </button>
            </form>
        </span>
    </span>
</h2>

<p class="breadcrumb"><a href="/" style="text-decoration: none !important; color:inherit">Home</a><span style="color:#F90196"> &nbsp;/&nbsp; </span>{{project.customer.name_customer}} <span style="color:#F90196">&nbsp;/&nbsp;</span> {{project.nam_project}}</p>

<div id="modal-delete" class="modal modal-upload">
    <div class="modal-content text-center">
        <div class="row align-items-center">
            <div class="col">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
                        <path
                            d="M62.8359 17.0002H83.6693V25.3335H75.3359V79.5002C75.3359 80.6052 74.897 81.665 74.1156 82.4464C73.3342 83.2279 72.2743 83.6668 71.1693 83.6668H12.8359C11.7309 83.6668 10.6711 83.2279 9.88966 82.4464C9.10826 81.665 8.66927 80.6052 8.66927 79.5002V25.3335H0.335938V17.0002H21.1693V4.50016C21.1693 3.39509 21.6083 2.33529 22.3897 1.55388C23.1711 0.772483 24.2309 0.333496 25.3359 0.333496H58.6693C59.7743 0.333496 60.8342 0.772483 61.6156 1.55388C62.397 2.33529 62.8359 3.39509 62.8359 4.50016V17.0002ZM67.0026 25.3335H17.0026V75.3335H67.0026V25.3335ZM47.8943 50.3335L55.2609 57.7002L49.3693 63.5918L42.0026 56.2252L34.6359 63.5918L28.7443 57.7002L36.1109 50.3335L28.7443 42.9668L34.6359 37.0752L42.0026 44.4418L49.3693 37.0752L55.2609 42.9668L47.8943 50.3335ZM29.5026 8.66683V17.0002H54.5026V8.66683H29.5026Z"
                            fill="#FF2F53" />
                    </svg>
                </div>
                <h2>Confirme a exclusão</h2>
                
                <p>Tem certeza que deseja excluir o projeto <b>{{project.nam_project}}</b>? <br>Atenção, essa opção não poderá ser desfeita.</p>
                <br>
                 <div class="row">
                    <div class="col-6">
                        <button class="btn btn-back-modal" id="cancel-button-delete">Voltar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-confirm-modal" id="confirm-button-delete">Excluir</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-viewproject">
    <div class="row">
        <div class="col-12 col-md-4">
            <label for="objective" class="mt-4">Objetivo do projeto:</label>
            <textarea rows="5" cols="50" id="objective" name="objective_project"
                class="form-control" disabled>{{project.objective_project}}</textarea>
        </div>
        <div class="col-12 col-md-4">
            <label for="dat_expiration" class="mt-4">Data expiração:</label>
            <input type="date" name="dat_expiration" id="dat_expiration" class="form-control"
                value="{{project.dat_expiration}}" disabled>
            <label for="status" class="mt-4">Status:</label>
            <input type="text" name="status" id="status" class="form-control" value="{{project.des_status}}" disabled>
        </div>
        <div class="col-12 col-md-4">
            <label for="des_autoplay_timing" class="mt-4">Autplay Timing:</label>
            <input type="text" name="des_autoplay_timing" id="des_autoplay_timing" class="form-control"
                value="{{project.des_autoplay_timing}}" disabled>
        </div>
    </div>

    <!-- listagem de dashboards -->
    <div id="dashboardCarousel2" class="carousel slide mt-4" data-ride="carousel">
        <div class="carousel-inner">
            {{#each dashboards}}
            {{#if (eq @index 0)}}
            <div class="carousel-item active">
                <div class="row">
                    {{/if}}
                    {{#if (and (eq (mod @index 9) 0) (gte @index 1))}}
                    <div class="carousel-item">
                        <div class="row">
                            {{/if}}
                            <div class="col-12 col-md-4 mt-4 item-{{@index}} align-self-center">
                                <div class="row">
                                    <div class="col-3">
                                        <a href="/dashboards/view/{{id_dashboard}}" style="text-decoration: none; color:inherit">
                                        <img
                                            src="{{#if des_dashboard_image_desktop}} /uploads/dashboards/{{des_dashboard_image_desktop}} {{else}} /img/img-square-default.jpg {{/if}}" width="100%"></a>
                                    </div>
                                    <div class="col-7">
                                        <a href="/dashboards/view/{{id_dashboard}}" style="text-decoration: none; color:inherit">
                                        <h4 class="title-dashbord">{{title}}</h4></a>
                                        <p class="bread-dash">{{project.customer.name_customer}} / {{project.nam_project}}</p>
                                        <span class="status-dash">{{des_status}}</span>
                                    </div>
                                    <div class="col-2 text-start">
                                        <a href="/dashboards/view/{{id_dashboard}}" style="text-decoration: none; color:inherit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                viewBox="0 0 48 48" fill="none">
                                                <path d="M21 14L31 24L21 34" stroke="#C6C6C6" stroke-width="4"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{#if (and (eq (mod @index 8) 0) (gte @index 1))}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if (and (eq (mod @index 9) 0) (gte @index 1))}}
                </div>
                {{/if}}
                {{/each}}
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-6 col-btn-carousel-projects-prev">
            <button class="carousel-control-prev btn-carousel-projects-prev" type="button"
                data-bs-target="#dashboardCarousel2" data-bs-slide="prev">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="48" viewBox="0 0 41 48" fill="none">
                        <path d="M27 34L17 24L27 14" stroke="#C6C6C6" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>
        <div class="col-6">
            <button class="carousel-control-next btn-carousel-projects-next" type="button"
                data-bs-target="#dashboardCarousel2" data-bs-slide="next">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="48" viewBox="0 0 42 48" fill="none">
                        <path d="M18 14L28 24L18 34" stroke="#C6C6C6" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>