<h2>Projetos de {{customer.name}}</h2>

{{#each projects}}
<div class="col-6">
    <div class="card mt-4">        
            <div class="card-body">
                <h5>{{name}}</h5>
                
                <strong>{{title}}</strong>   
                <br>            

                <a href="/admin/customer/{{idCustomer}}">Acessar ></a>
                <br>
                <a href="/admin/dashboard/customer/{{idCustomer}}">Adicionar Dashboard ></a>
     
            </div>
    </div>             
</div>
{{else}}
<h5>Nenhum projeto cadastrado</h5>
{{/each}}

</div>
