<h2>Projetos de {{project.nam_project}}</h2>
<br>
{{>_navbardashboards}}
<hr>

<div class="container mt-4">
    <div class="row">
        {{#each dashboards}}
        <div class="col-4" style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <a href="/admin/dashboards/{{id_dashboard}}"><button class="btn btn-info">Acessar
                            dashboard</button></a>
                </div>
            </div>
        </div>
        {{else}}
        <p>Nenhum dashboard postado</p>
        {{/each}}
    </div>
</div>
