{{#each errors}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}    

{{/each}}
<h2 class="title-page">Editar usuário</h2>
<p><a href="/" style="text-decoration: none !important; color:inherit">Home</a> / Editar Perfil</p>
<div class="container container-users">
    <form action="/users/users/edit/{{userEdit.id_user}}" method="POST" enctype="multipart/form-data">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-control" value="{{userEdit.name_user}}" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email do usuário" class="form-control" value="{{userEdit.email_user}}" required>
    <label for="photo_user">Imagem</label>
    <input type="file" id="photo_user" name="photo_user"  class="form-control" accept="image/png, image/jpeg">
    
    <label for="user_type">Tipo de Usuário:</label>
    <select class="form-select" id="user_type" name="user_type" class="form-control" required>
        <option value="{{userEdit.typ_user}}" selected>{{userEdit.typ_user}}</option>
        <option value="Leitor">Leitor</option>
        <option value="Editor">Editor</option>
        <option value="Administrador">Administrador</option>
    </select>

    <label for="project_permissions">Permissões de projeto:</label>
    <select class="form-select" id="project_permissions" name="project_permissions[]" multiple>
        {{#each projects}}
            <option value="{{id_project}}" {{#if (includes userPermissions.id_project id_project)}} selected {{/if}}>{{nam_project}}</option>
        {{/each}}
    </select>

    <label for="dashboard_permissions">Permissões de dashboard:</label>
    <select class="form-select" id="dashboard_permissions" name="dashboard_permissions[]" multiple>
        {{#each dashboards}}
            <option value="{{id_dashboard}}" {{#if (includes userPermissions.id_dashboard id_dashboard)}} selected {{/if}}>{{title}}</option>
        {{/each}}
    </select>

    <button type="submit" class="btn btn-primary">Atualizar Usuário</button>
</form>
</div>



<!--
  
  <div class="card">
    <div class="card-body">
        <form action="/users/users/edit" method="POST">
            <input type="hidden" id="id" name="id" value="{{user.id_user}}">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-control" value="{{user.name_user}}" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email do usuário" class="form-control" value="{{user.email_user}}" required>
            <label for="user_type">Tipo de Usuário</label>            
            <select class="form-select" aria-label="Default select example" id="user_type" name="user_type" class="form-control"> 
            <option selected value="{{user.typ_user}}">{{user.typ_user}}</option>
            <option value="Leitor">Leitor</option>
            <option value="Editor">Editor</option>
            <option value="Administrador">Administrador</option>
            </select>
            <br>
            <button type="submit" class="btn btn-success">Salvar Edição</button>
        </form>
    </div>    
</div>


  
    -->

