{{#each errors}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}    

{{/each}}

<h2>Permissões do usuário</h2>
<div class="card">
    <div class="card-body">
        <p><b>Usuário:</b> <h2>{{user.name_user}}</h2></p>
        <form action="/users/users/permissions" method="POST">
            <input type="hidden" id="id_user" name="id_user" value="{{user.id_user}}">            
            
            <label for="project_permissions">Permissões de projeto</label>
            <select class="form-select" class="form-control" id="project_permissions" name="project_permissions[]" multiple>
                <option selected>Selecionar</option>
                {{#each projects}}
                <option value={{id_project}}>{{nam_project}}</option>
                {{else}}
                {{/each}}
                {{#each projectstotal}}
                <option value={{id_project}}>{{nam_project}}</option>
                {{else}}
                {{/each}}
            </select>
            <label for="dashboard_permissions">Permissões de dashboards</label>
            <select class="form-select" class="form-control" id="dashboard_permissions" name="dashboard_permissions[]" multiple>

            </select>
            <br>
            <button type="submit" class="btn btn-success">Salvar Edição</button>
        </form>
    </div>    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('project_permissions').addEventListener('change', function () {
        const selectedProjects = Array.from(this.selectedOptions, option => option.value);
        
        // Enviar solicitação para buscar os dashboards relacionados
        fetch(`/projects/get-dashboards/${selectedProjects.join(',')}`)
            .then(response => response.json())
            .then(data => {
                console.log('data: '+data)
                // Atualize o campo "dashboard_permissions" com as opções de dashboards disponíveis
                const dashboardPermissions = document.getElementById('dashboard_permissions');
                dashboardPermissions.innerHTML = '';

                data.forEach(dashboard => {
                    const option = document.createElement('option');
                    option.value = dashboard.id_dashboard;
                    option.textContent = dashboard.title; // Altere para o campo apropriado do seu dashboard

                    dashboardPermissions.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Erro ao buscar dashboards:', error);
            });
    });
});

</script>