{{#each errors}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h2>Permissões</h2>
<p>Alterando permissões de: <b>{{userEdit.name_user}}</b></p>
<form action="/users/users/editpermission/{{userEdit.id_user}}" method="POST">
    <label for="user_type">Tipo de Usuário:</label>
    <select class="form-select" id="user_type" name="user_type" class="form-control" required>
        <option value="Leitor" {{#if (eq userEdit.typ_user "Leitor" )}} selected {{/if}}>Leitor</option>
        <option value="Editor" {{#if (eq userEdit.typ_user "Editor" )}} selected {{/if}}>Editor</option>
        <option value="Administrador" {{#if (eq userEdit.typ_user "Administrador" )}} selected {{/if}}>Administrador
        </option>
    </select>

    <label for="project_permissions">Permissões de projeto</label>
    <select class="form-select" class="form-control" id="project_permissions" name="project_permissions[]" multiple>
        <option selected>Selecionar</option>
        {{#each projects}}
        <option value={{id_project}}>{{nam_project}}</option>
        {{else}}
        {{/each}}
    </select>
    <label for="dashboard_permissions">Permissões de dashboards</label>
    <select class="form-select" class="form-control" id="dashboard_permissions" name="dashboard_permissions[]" multiple>

    </select>



    <button type="submit" class="btn btn-primary">Atualizar Usuário</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('project_permissions').addEventListener('change', function () {
            const selectedProjects = Array.from(this.selectedOptions, option => option.value);

            // Enviar solicitação para buscar os dashboards relacionados
            fetch(`/projects/get-dashboards/${selectedProjects.join(',')}`)
                .then(response => response.json())
                .then(data => {
                    console.log('data: ' + data)
                    // Atualize o campo "dashboard_permissions" com as opções de dashboards disponíveis
                    const dashboardPermissions = document.getElementById('dashboard_permissions');
                    dashboardPermissions.innerHTML = '';

                    data.forEach(dashboard => {
                        const option = document.createElement('option');
                        option.value = dashboard.id_dashboard;
                        option.textContent = dashboard.title; // Altere para o campo apropriado do seu dashboard

                        dashboardPermissions.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar dashboards:', error);
                });
        });
    });

</script>